<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LayerIndex</key>
	<integer>13</integer>
	<key>Layers</key>
	<array>
		<dict>
			<key>CompositingMode</key>
			<integer>0</integer>
			<key>File</key>
			<string>Layer~0.png</string>
			<key>Hidden</key>
			<false/>
			<key>Opacity</key>
			<real>100</real>
		</dict>
		<dict>
			<key>CompositingMode</key>
			<integer>0</integer>
			<key>File</key>
			<string>Layer~1.png</string>
			<key>Hidden</key>
			<false/>
			<key>Opacity</key>
			<real>100</real>
		</dict>
		<dict>
			<key>CompositingMode</key>
			<integer>0</integer>
			<key>File</key>
			<string>Layer~2.png</string>
			<key>Hidden</key>
			<false/>
			<key>Opacity</key>
			<real>100</real>
		</dict>
		<dict>
			<key>CompositingMode</key>
			<integer>0</integer>
			<key>File</key>
			<string>Layer~3.png</string>
			<key>Hidden</key>
			<true/>
			<key>Opacity</key>
			<real>100</real>
		</dict>
		<dict>
			<key>CompositingMode</key>
			<integer>0</integer>
			<key>File</key>
			<string>Layer~4.png</string>
			<key>Hidden</key>
			<true/>
			<key>Opacity</key>
			<real>100</real>
		</dict>
		<dict>
			<key>CompositingMode</key>
			<integer>0</integer>
			<key>File</key>
			<string>Layer~5.png</string>
			<key>Hidden</key>
			<false/>
			<key>Opacity</key>
			<real>52.197803497314453</real>
		</dict>
		<dict>
			<key>CompositingMode</key>
			<integer>0</integer>
			<key>File</key>
			<string>Layer~6.png</string>
			<key>Hidden</key>
			<false/>
			<key>Opacity</key>
			<real>100</real>
		</dict>
		<dict>
			<key>CompositingMode</key>
			<integer>1</integer>
			<key>File</key>
			<string>Layer~7.png</string>
			<key>Hidden</key>
			<false/>
			<key>Opacity</key>
			<real>100</real>
		</dict>
		<dict>
			<key>CompositingMode</key>
			<integer>0</integer>
			<key>File</key>
			<string>Layer~8.png</string>
			<key>Hidden</key>
			<false/>
			<key>Opacity</key>
			<real>100</real>
		</dict>
		<dict>
			<key>CompositingMode</key>
			<integer>0</integer>
			<key>File</key>
			<string>Layer~9.png</string>
			<key>Hidden</key>
			<false/>
			<key>Opacity</key>
			<real>100</real>
		</dict>
		<dict>
			<key>CompositingMode</key>
			<integer>0</integer>
			<key>File</key>
			<string>Layer~10.png</string>
			<key>Hidden</key>
			<false/>
			<key>Opacity</key>
			<real>100</real>
		</dict>
		<dict>
			<key>CompositingMode</key>
			<integer>1</integer>
			<key>File</key>
			<string>Layer~11.png</string>
			<key>Hidden</key>
			<true/>
			<key>Opacity</key>
			<real>100</real>
		</dict>
		<dict>
			<key>CompositingMode</key>
			<integer>0</integer>
			<key>File</key>
			<string>Layer~12.png</string>
			<key>Hidden</key>
			<true/>
			<key>Opacity</key>
			<real>100</real>
		</dict>
		<dict>
			<key>CompositingMode</key>
			<integer>0</integer>
			<key>File</key>
			<string>Layer~13.png</string>
			<key>Hidden</key>
			<true/>
			<key>Opacity</key>
			<real>100</real>
		</dict>
		<dict>
			<key>CompositingMode</key>
			<integer>0</integer>
			<key>File</key>
			<string>Layer~14.png</string>
			<key>Hidden</key>
			<true/>
			<key>Opacity</key>
			<real>100</real>
		</dict>
	</array>
	<key>Orientation</key>
	<integer>1</integer>
	<key>Paper</key>
	<string>Plain</string>
	<key>PaperColor</key>
	<array>
		<real>255</real>
		<real>255</real>
		<real>255</real>
		<real>255</real>
	</array>
	<key>Version</key>
	<string>1.0</string>
	<key>marker</key>
	<integer>4</integer>
	<key>paint</key>
	<integer>3</integer>
	<key>pastel</key>
	<integer>1</integer>
	<key>penbrush</key>
	<integer>2</integer>
</dict>
</plist>
